.location {
    display: flex;
    flex-direction: column;
    max-width: 500px !important;
    margin: 0 auto;
    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    select {
        padding: 10px;
        width: 60%;
        text-align: left;
        appearance: none;       
        border-radius: 10px;
        outline: none;
        background-color: #efefef;
        border: 2px solid #fff;
        &:focus {
            border: 2px solid #4ea685;
        }
    }
    .help{
        width: 60%;
        input{
            padding: 10px;
            font-size: 14px;
            &::placeholder{
                color: #000;
            }
        }
    }
    .filter{
        &-field{
        margin-top: 20px;
        font-size: 13px;
        
    }
    input{
            margin-top: 20px;
        }
    }
    
}
