$mobile-width: 600px;
$tablet-width: 1023px;
$mobile-sm-width: 376px; 
$accent-color: hsl(0, 0, 50);

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$main-color: #4267b2;
$main-bg: #fff;

$header-lg: 120px;
$header-md: 70px;
$header-sm: 40px;

$radius: 50%;
$radius-10: 10px;
$radius-5: 5px;

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "main": $main-color,
    "red": #ff0000,
    "gray": #D9D9D9,
    "green1": #4EA685,
    "green2": #57B894,
    "tagColor": #ff6f61,
);

$blue: #4267b2;
$orange: #fbb96b;
$pink: #fe7e73;
$white: #fff;
$black: #000;
$red: #ff0000;
$gray: #D9D9D9;
$tagColor: #ff6f61;
$blur: #9a9a9a;

$green1: #4EA685;
$green2: #57B894;

$grayBlur1: #efefef;
$grayBlur2: #757575;

$facebook-color: #4267B2;
$google-color: #DB4437;
$twitter-color: #1DA1F2;
$insta-color: #E1306C;
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
